.btn-facebook {
    border: none;
    background-color: #3A5795;
    color: #f0f0f0;
    box-shadow: 0 0 3px #777777;
    border-radius: 2px;
    transition: all 0.5s;
}

.btn-facebook:hover {
    box-shadow: 1px 1px 5px #777777;
}

.profile-div {
    position: fixed;
    left: -100%;
    top: 100px;
    opacity: 0;
/*    transition: all 0.9s;*/
}

.profile-div.show {
    position: relative;
    animation-name:  facebook;
    animation-duration: 0.5s;
    opacity: 1;
    left: 0;
    top: 0;
}

.profile-div form {
    width: 50%;
    margin: 10px auto;
}

@media screen and (max-width: 550px) {
    .profile-div form {
        width: 100%;
    }
}

/* Keyframes Kulcs kocka*/
@keyframes facebook {
    0%  {opacity: 0; left: -100%; top: 100px;}
    75% {opacity: 0; left: -25%; }
    95% {opacity: 1; left: 0%; top: 100px;}
    100% {top: 0; }
}